* {
  box-sizing: border-box ;
  margin: 0 ;
  padding: 0 ;
  font-family: 'Space Mono', monospace;
}

html ,body {
  height: 100% ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-container {
  position: relative ;
  margin: 10px 0 ;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10px 24px auto;
  background-color: #F3F8FB ;
  border-radius : 7px ;
  border: 3px solid transparent ;
  transition: .3s ease-in ;
}
.input-container:hover {
  border-color: #5FABA1 ;
}
.input-container > svg {
  font-size: 24px ;
  color: #5b6364 ;
  background-color: #F3F8FB ;
  height: 100% ;
  grid-column: 2/3 ;
  cursor: text
}
.nb-container {
  display: flex ;
  justify-content: space-between ;
  align-items: baseline ;
}

.custom-tip {
  border: 2px solid transparent ;
  outline: none ;
  background-color: #F3F8FB ;
  font-size: 24px ;
  color: #0D4144 ;
  font-weight: 700 ;
  max-width: 100%; 
  transition: .3s ease ;
  border-radius: 5px ;
  cursor: pointer  ; 
  display: flex ;
  justify-content: center ;
  padding: 10px ;
  text-align: right ;
}

.custom-tip:hover {
  border: 2px solid #5FABA1 
}

input.custom-tip::placeholder {
  text-align: center ;
}

.amount-container > p {
  color: #6A9B9F ;
  font-weight: 700 ;
}

.amount-container > h3 {
  color: white ;
}

input {
  min-width: 0 ;
}

@media screen and (max-width:1130px ) {
  input::placeholder {
    font-size: 14px ;
  }
}

.nb-container > p {
  color: #C7837A;
  font-weight: 700 ;
  font-size: 14px ;
  font-family: 'Space Mono', monospace;
}